.App {
   text-align: center;
   color: white;
}

.App-header {
   background-color: #1b2845;
   max-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
}

.App-link {
   color: #61dafb;
}
.app-left-column {
   width: 35%;
}
.app-right-column {
   width: 60%;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.app-block {
   padding: 20px;
   background-color: #fff;
   color: #000;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.app-main {
   display: flex;
   justify-content: space-between;
   max-width: 1140px;
   margin: 20px auto;
   padding: 0 15px;
   gap: 30px;
   flex-wrap: wrap;
}
